.account-address-mini,body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.account-address-mini {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.account-address-mini .div {
  background-color: #ffffff;
  width: 375px;
  height: 1376px;
  position: relative;
}

.account-address-mini .nav-bar-mob {
  display: flex;
  width: 375px;
  height: 46px;
  align-items: center;
  gap: 55px;
  padding: 0px 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff80;
}

.account-address-mini .frame {
  display: flex;
  width: 93px;
  align-items: center;
  gap: 16px;
  position: relative;
}

.account-address-mini .vector {
  position: relative;
  width: 18px;
  height: 12px;
}

.account-address-mini .hello-ahmed-salah {
  position: relative;
  width: 64px;
  margin-top: -1.00px;
  margin-right: -5.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.account-address-mini .frame-2 {
  display: flex;
  width: 32px;
  align-items: center;
  gap: 94px;
  position: relative;
}

.account-address-mini .logo-removebg {
  position: relative;
  width: 32px;
  height: 41px;
}

.account-address-mini .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -146.00px;
}

.account-address-mini .img {
  position: relative;
  width: 13px;
  height: 13px;
  margin-top: -0.50px;
  margin-bottom: -0.50px;
  margin-left: -0.50px;
}

.account-address-mini .heart {
  position: relative;
  width: 13.5px;
  height: 14px;
  margin-top: -1.50px;
  margin-bottom: -0.50px;
}

.account-address-mini .cart {
  position: relative;
  width: 14px;
  height: 13px;
  margin-top: -0.50px;
  margin-bottom: -0.50px;
  margin-right: -1.50px;
}

.account-address-mini .home-manage-account {
  position: absolute;
  top: 61px;
  left: 24px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 8px;
}

.account-address-mini .text-wrapper {
  font-weight: 500;
  color: #b2b2b2;
}

.account-address-mini .span {
  font-weight: 500;
  color: #000000;
  line-height: 0.1px;
}

.account-address-mini .text-wrapper-2 {
  font-weight: 500;
  color: #000000;
}

.account-address-mini .frame-4 {
  display: flex;
  flex-direction: column;
  width: 326px;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  position: absolute;
  top: 90px;
  left: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #00000040;
}

.account-address-mini .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--text-2);
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.account-address-mini .frame-5 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.account-address-mini .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.account-address-mini .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #0c5784;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.account-address-mini .welcome-ahmed-salah {
  position: absolute;
  top: 56px;
  left: 254px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--text-2);
  font-size: 8px;
  letter-spacing: 0;
  line-height: 8px;
}

.account-address-mini .text-wrapper-6 {
  color: #000000;
  line-height: 21px;
}

.account-address-mini .text-wrapper-7 {
  color: #ef9223;
  line-height: 21px;
}

.account-address-mini .frame-6 {
  display: flex;
  width: 326px;
  height: 120px;
  align-items: center;
  gap: 8px;
  padding: 16px;
  position: absolute;
  top: 156px;
  left: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #00000040;
}

.account-address-mini .group {
  position: relative;
  width: 249px;
  height: 104px;
  margin-top: -8.00px;
  margin-bottom: -8.00px;
}

.account-address-mini .text-wrapper-8 {
  position: absolute;
  width: 247px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--text-2);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
}

.account-address-mini .frame-7 {
  display: flex;
  flex-direction: column;
  width: 247px;
  align-items: flex-start;
  position: absolute;
  top: 32px;
  left: 0;
}

.account-address-mini .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--balck);
  font-size: 8px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account-address-mini .text-wrapper-10 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--balck);
  font-size: 8px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account-address-mini .frame-8 {
  display: flex;
  flex-direction: column;
  width: 46px;
  height: 104px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 8px;
  position: relative;
  margin-top: -8.00px;
  margin-bottom: -8.00px;
  margin-right: -7.00px;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #b2b2b2;
}

.account-address-mini .text-wrapper-11 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #0c5784;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.account-address-mini .text-wrapper-12 {
  position: relative;
  align-self: stretch;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #0c5784;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.account-address-mini .add-address-mob {
  display: flex;
  flex-direction: column;
  width: 323px;
  align-items: center;
  gap: 16px;
  padding: 16px;
  position: absolute;
  top: 292px;
  left: 26px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #00000040;
}

.account-address-mini .text-wrapper-13 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ef9223;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
}

.account-address-mini .frame-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.account-address-mini .frame-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.account-address-mini .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--text-2);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account-address-mini .placebox-info {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 40px;
  background-color: var(--secondary);
  border-radius: 4px;
}

.account-address-mini .frame-11 {
  display: flex;
  height: 34px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.account-address-mini .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 130px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  position: relative;
  align-self: stretch;
  background-color: var(--primary);
  border-radius: 4px;
}

.account-address-mini .view-all-products {
  position: relative;
  width: 138px;
  margin-top: -12.00px;
  margin-bottom: -10.00px;
  margin-left: -52.00px;
  margin-right: -52.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--text);
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.account-address-mini .view-all-products-wrapper {
  all: unset;
  box-sizing: border-box;
  width: 130px;
  align-self: stretch;
  border: 1px solid;
  border-color: #0b5683;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  position: relative;
  border-radius: 4px;
}

.account-address-mini .view-all-products-2 {
  margin-top: -12.00px;
  margin-bottom: -10.00px;
  margin-left: -52.00px;
  margin-right: -52.00px;
  color: var(--balck);
  font-size: 8px;
  position: relative;
  width: 138px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.account-address-mini .button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 108px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.account-address-mini .div-wrapper {
  all: unset;
  box-sizing: border-box;
  width: 131px;
  height: 32px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  position: relative;
  border-radius: 4px;
}

.account-address-mini .view-all-products-3 {
  margin-top: -13.00px;
  margin-bottom: -11.00px;
  margin-left: -51.50px;
  margin-right: -51.50px;
  color: var(--text);
  font-size: 12px;
  position: relative;
  width: 138px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.account-address-mini .footer-mob {
  position: absolute;
  width: 100vw;
  height: 398px;
  top: 978px;
  left: 50%;
  transform: translateX(-50%);
}

.account-address-mini .overlap-group {
  position: relative;
  height: 397px;
  top: 1px;
}

.account-address-mini .group-2 {
  position: absolute;
  width: 100vw;
  height: 362px;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    180deg,
    rgba(26, 132, 195, 1) 0%,
    rgba(12, 51, 74, 1) 100%
  );
}

.account-address-mini .frame-12 {
  display: flex;
  flex-direction: column;
  width: 327px;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.account-address-mini .frame-13 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(12, 87, 132, 1) 0%,
    rgba(3, 20, 30, 1) 100%
  );
}

.account-address-mini .p {
  position: relative;
  width: 103px;
  height: 50px;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #f3f3f3;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.account-address-mini .frame-14 {
  display: flex;
  flex-direction: column;
  width: 113px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.account-address-mini .frame-15 {
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.account-address-mini .text-wrapper-15 {
  position: relative;
  width: 81px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 4px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.account-address-mini .frame-16 {
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.account-address-mini .text-wrapper-16 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 6px;
  letter-spacing: 0;
  line-height: normal;
}

.account-address-mini .logo {
  position: relative;
  width: 72px;
  height: 93px;
}

.account-address-mini .frame-17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.account-address-mini .frame-18 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.account-address-mini .frame-19 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.account-address-mini .frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.account-address-mini .frame-20 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.account-address-mini .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.account-address-mini .text-wrapper-18 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #f3f3f3;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.account-address-mini .frame-21 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.account-address-mini .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.account-address-mini .frame-22 {
  position: relative;
  flex: 0 0 auto;
}

.account-address-mini .group-3 {
  position: fixed;
  width: 16px;
  height: 38px;
  top: 146px;
  left: 351px;
}

.account-address-mini .group-4 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/me03fs54RlPIlC/img/logos-whatsapp-icon.svg);
  background-size: 100% 100%;
}

.account-address-mini .frame-23 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 22px;
  left: 0;
}
