.category-mini {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.category-mini .div {
  background-color: #ffffff;
  width: 375px;
  height: 1280px;
  position: relative;
}

.category-mini .nav-bar-mob {
  display: flex;
  width: 375px;
  height: 46px;
  align-items: center;
  gap: 55px;
  padding: 0px 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff80;
}

.category-mini .frame {
  display: flex;
  width: 93px;
  align-items: center;
  gap: 16px;
  position: relative;
}

.category-mini .vector {
  position: relative;
  width: 18px;
  height: 12px;
}

.category-mini .hello-ahmed-salah {
  position: relative;
  width: 64px;
  margin-top: -1.00px;
  margin-right: -5.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.category-mini .frame-2 {
  display: flex;
  width: 32px;
  align-items: center;
  gap: 94px;
  position: relative;
}

.category-mini .logo-removebg {
  position: relative;
  width: 32px;
  height: 41px;
}

.category-mini .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -146.00px;
}

.category-mini .img {
  width: 13px;
  height: 13px;
  margin-bottom: -0.50px;
  margin-left: -0.50px;
  position: relative;
  margin-top: -0.50px;
}

.category-mini .heart {
  position: relative;
  width: 13.5px;
  height: 14px;
  margin-top: -1.50px;
  margin-bottom: -0.50px;
}

.category-mini .cart {
  position: relative;
  width: 14px;
  height: 13px;
  margin-top: -0.50px;
  margin-bottom: -0.50px;
  margin-right: -1.50px;
}

.category-mini .footer-mob {
  position: absolute;
  width: 100vw;
  height: 398px;
  top: 882px;
  left: 50%;
  transform: translateX(-50%);
}

.category-mini .overlap-group {
  position: relative;
  height: 397px;
  top: 1px;
}

.category-mini .group {
  position: absolute;
  width: 100vw;
  height: 362px;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    180deg,
    rgba(26, 132, 195, 1) 0%,
    rgba(12, 51, 74, 1) 100%
  );
}

.category-mini .frame-4 {
  display: flex;
  flex-direction: column;
  width: 327px;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.category-mini .frame-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(12, 87, 132, 1) 0%,
    rgba(3, 20, 30, 1) 100%
  );
}

.category-mini .text-wrapper {
  position: relative;
  width: 103px;
  height: 50px;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #f3f3f3;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.category-mini .frame-6 {
  display: flex;
  flex-direction: column;
  width: 113px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.category-mini .div-wrapper {
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.category-mini .p {
  position: relative;
  width: 81px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 4px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.category-mini .frame-7 {
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.category-mini .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 6px;
  letter-spacing: 0;
  line-height: normal;
}

.category-mini .logo {
  position: relative;
  width: 72px;
  height: 93px;
}

.category-mini .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.category-mini .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.category-mini .frame-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.category-mini .frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.category-mini .frame-11 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.category-mini .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.category-mini .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #f3f3f3;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.category-mini .frame-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.category-mini .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.category-mini .img-2 {
  position: relative;
  flex: 0 0 auto;
}

.category-mini .home-category {
  position: absolute;
  top: 61px;
  left: 24px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 8px;
}

.category-mini .span {
  font-weight: 500;
  color: #b2b2b2;
}

.category-mini .text-wrapper-6 {
  font-weight: 500;
  color: #000000;
  line-height: 0.1px;
}

.category-mini .text-wrapper-7 {
  font-weight: 500;
  color: #000000;
}

.category-mini .frame-13 {
  display: flex;
  flex-direction: column;
  width: 326px;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 174px;
  left: 25px;
}

.category-mini .frame-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.category-mini .frame-15 {
  display: flex;
  width: 326px;
  height: 24px;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  position: relative;
}

.category-mini .text-wrapper-8 {
  position: relative;
  flex: 1;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--black);
  font-size: 8px;
  text-align: right;
  letter-spacing: 0.32px;
  line-height: normal;
}

.category-mini .frame-16 {
  display: flex;
  flex-wrap: wrap;
  width: 326px;
  align-items: center;
  gap: 22px 22px;
  position: relative;
  flex: 0 0 auto;
  overflow-x: scroll;
}

.category-mini .frame-16::-webkit-scrollbar {
  width: 0;
  display: none;
}

.category-mini .group-2 {
  position: relative;
  width: 152px;
  height: 293px;
}

.category-mini .elements-card {
  position: absolute;
  width: 152px;
  height: 203px;
  top: 0;
  left: 0;
}

.category-mini .overlap-group-2 {
  position: relative;
  height: 202px;
  background-image: url(https://c.animaapp.com/me07005uX5TzLF/img/paste-image.svg);
  background-size: 100% 100%;
}

.category-mini .button-hover {
  all: unset;
  box-sizing: border-box;
  width: 133px;
  padding: 8px 24px;
  position: absolute;
  top: 168px;
  left: 9px;
  border-radius: 4px;
  border-color: #0b5683;
  box-shadow: var(--shadow-01);
  display: flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: 1px solid;
}

.category-mini .get-started {
  position: relative;
  width: fit-content;
  margin-top: -11.00px;
  margin-bottom: -9.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 8px;
  text-align: center;
  letter-spacing: -0.40px;
  line-height: 28px;
  white-space: nowrap;
}

.category-mini .add-to-wishlist {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  left: 131px;
}

.category-mini .badge-medium {
  display: flex;
  width: 45px;
  height: 20px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px 14px;
  position: absolute;
  top: 10px;
  left: 18px;
  background-color: #17bf50;
  border-radius: 4px;
}

.category-mini .new {
  position: relative;
  width: fit-content;
  margin-top: -3.00px;
  margin-bottom: -1.00px;
  margin-left: -4.00px;
  margin-right: -4.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--balck);
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.category-mini .content {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 78px;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  top: 215px;
  left: 0;
}

.category-mini .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.category-mini .frame-17 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.category-mini .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--neutral-07100);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.category-mini .discount {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.category-mini .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.category-mini .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  opacity: 0.5;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--grey);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: line-through;
  white-space: nowrap;
}

.category-mini .line {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  margin-top: -1.00px;
  object-fit: cover;
}

.category-mini .frame-18 {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.category-mini .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
}

.category-mini .button-base {
  all: unset;
  box-sizing: border-box;
  width: 66px;
  padding: 8px 14px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  border-color: #0000001a;
  display: flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: 1px solid;
}

.category-mini .arrow-left {
  margin-left: -4.00px;
  position: relative;
  width: 8px;
  height: 8px;
}

.category-mini .text {
  position: relative;
  width: fit-content;
  margin-top: -3.00px;
  margin-bottom: -1.00px;
  margin-right: -4.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.category-mini .pagination-numbers {
  display: inline-flex;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}

.category-mini .pagination-number {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: #0000000f;
  border-radius: 8px;
  overflow: hidden;
}

.category-mini .number-wrapper {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  position: relative;
  border-radius: 8px;
}

.category-mini .number {
  position: relative;
  width: fit-content;
  margin-top: -13.00px;
  margin-bottom: -11.00px;
  margin-left: -3.50px;
  margin-right: -3.50px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.category-mini .content-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  overflow: hidden;
}

.category-mini .number-2 {
  position: relative;
  width: fit-content;
  margin-top: -13.00px;
  margin-bottom: -11.00px;
  margin-left: -4.50px;
  margin-right: -4.50px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #00000080;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.category-mini .button-base-2 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 46px;
  height: 24px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px 14px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0000001a;
}

.category-mini .text-2 {
  position: relative;
  width: fit-content;
  margin-top: -3.00px;
  margin-bottom: -1.00px;
  margin-left: -6.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.category-mini .arrow-right {
  margin-right: -6.00px;
  position: relative;
  width: 8px;
  height: 8px;
}

.category-mini .category-mob {
  display: inline-flex;
  align-items: center;
  gap: 22px;
  position: absolute;
  top: 90px;
  left: 26px;
}

.category-mini .category-phone {
  position: relative;
  width: 64.48px;
  height: 55px;
  background-color: var(--primary);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0000004c;
}

.category-mini .frame-19 {
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 55px;
  align-items: center;
  gap: 4px;
  padding: 12px 0px;
  position: relative;
  left: 8px;
}

.category-mini .group-3 {
  position: relative;
  width: 11.67px;
  height: 17px;
  margin-top: -0.50px;
}

.category-mini .text-wrapper-12 {
  position: relative;
  align-self: stretch;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--white);
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.category-mini .category-phone-2 {
  position: relative;
  width: 64.48px;
  height: 55px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0000004c;
}

.category-mini .frame-20 {
  padding: 8px 0px 12px;
  left: 9px;
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 53px;
  align-items: center;
  gap: 4px;
  position: relative;
  top: 1px;
}

.category-mini .group-4 {
  position: relative;
  width: 20px;
  height: 20px;
}

.category-mini .text-wrapper-13 {
  position: relative;
  align-self: stretch;
  margin-bottom: -2.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--black);
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.category-mini .frame-21 {
  padding: 12px 0px;
  left: 8px;
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 53px;
  align-items: center;
  gap: 4px;
  position: relative;
  top: 1px;
}

.category-mini .vector-2 {
  width: 27.67px;
  height: 17px;
  position: relative;
  margin-top: -0.50px;
}

.category-mini .text-wrapper-14 {
  position: relative;
  align-self: stretch;
  margin-bottom: -2.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--text-2);
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.category-mini .frame-22 {
  padding: 12px 0px;
  left: 9px;
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 53px;
  align-items: center;
  gap: 4px;
  position: relative;
  top: 1px;
}

.category-mini .group-5 {
  position: relative;
  width: 19px;
  height: 17px;
  margin-top: -0.50px;
}

.category-mini .group-6 {
  position: fixed;
  width: 16px;
  height: 38px;
  top: 146px;
  left: 351px;
}

.category-mini .group-7 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/me07005uX5TzLF/img/logos-whatsapp-icon.svg);
  background-size: 100% 100%;
}

.category-mini .frame-23 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 22px;
  left: 0;
}
