:root {
  --black: rgba(20, 23, 24, 1);
  --secondary: rgba(239, 147, 35, 1);
  --white: rgba(243, 243, 243, 1);
  --text: rgba(250, 250, 250, 1);
  --grey: rgba(178, 178, 178, 1);
  --text-2: rgba(0, 0, 0, 1);
  --primary: rgba(255, 255, 255, 1);
  --balck: rgba(20, 23, 24, 1);
}
