.checkout-mini,body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.checkout-mini {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.checkout-mini .div {
  background-color: #ffffff;
  width: 375px;
  height: 1067px;
  position: relative;
}

.checkout-mini .nav-bar-mob {
  display: flex;
  width: 375px;
  height: 46px;
  align-items: center;
  gap: 55px;
  padding: 0px 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff80;
}

.checkout-mini .frame {
  display: flex;
  width: 93px;
  align-items: center;
  gap: 16px;
  position: relative;
}

.checkout-mini .vector {
  position: relative;
  width: 18px;
  height: 12px;
}

.checkout-mini .hello-ahmed-salah {
  position: relative;
  width: 64px;
  margin-top: -1.00px;
  margin-right: -5.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .frame-2 {
  display: flex;
  width: 32px;
  align-items: center;
  gap: 94px;
  position: relative;
}

.checkout-mini .logo-removebg {
  position: relative;
  width: 32px;
  height: 41px;
}

.checkout-mini .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -146.00px;
}

.checkout-mini .img {
  position: relative;
  width: 13px;
  height: 13px;
  margin-top: -0.50px;
  margin-bottom: -0.50px;
  margin-left: -0.50px;
}

.checkout-mini .heart {
  position: relative;
  width: 13.5px;
  height: 14px;
  margin-top: -1.50px;
  margin-bottom: -0.50px;
}

.checkout-mini .cart {
  position: relative;
  width: 14px;
  height: 13px;
  margin-top: -0.50px;
  margin-bottom: -0.50px;
  margin-right: -1.50px;
}

.checkout-mini .footer-mob {
  position: absolute;
  width: 100vw;
  height: 398px;
  top: 669px;
  left: 50%;
  transform: translateX(-50%);
}

.checkout-mini .overlap-group {
  position: relative;
  height: 397px;
  top: 1px;
}

.checkout-mini .group {
  position: absolute;
  width: 100vw;
  height: 362px;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    180deg,
    rgba(26, 132, 195, 1) 0%,
    rgba(12, 51, 74, 1) 100%
  );
}

.checkout-mini .frame-4 {
  display: flex;
  flex-direction: column;
  width: 327px;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.checkout-mini .frame-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(12, 87, 132, 1) 0%,
    rgba(3, 20, 30, 1) 100%
  );
}

.checkout-mini .text-wrapper {
  position: relative;
  width: 103px;
  height: 50px;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #f3f3f3;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .frame-6 {
  display: flex;
  flex-direction: column;
  width: 113px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.checkout-mini .div-wrapper {
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.checkout-mini .p {
  position: relative;
  width: 81px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 4px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .frame-7 {
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.checkout-mini .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 6px;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .logo {
  position: relative;
  width: 72px;
  height: 93px;
}

.checkout-mini .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.checkout-mini .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.checkout-mini .frame-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.checkout-mini .frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.checkout-mini .frame-11 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.checkout-mini .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.checkout-mini .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #f3f3f3;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .frame-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.checkout-mini .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.checkout-mini .frame-13 {
  position: relative;
  flex: 0 0 auto;
}

.checkout-mini .home-checkout {
  position: absolute;
  top: 61px;
  left: 24px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 8px;
}

.checkout-mini .span {
  font-weight: 500;
  color: #b2b2b2;
}

.checkout-mini .text-wrapper-6 {
  font-weight: 500;
  color: #000000;
  line-height: 0.1px;
}

.checkout-mini .text-wrapper-7 {
  font-weight: 500;
  color: #000000;
}

.checkout-mini .frame-14 {
  display: flex;
  flex-wrap: wrap;
  width: 326px;
  align-items: flex-start;
  gap: 24px 24px;
  padding: 8px 0px;
  position: absolute;
  top: 122px;
  left: 24px;
}

.checkout-mini .search-button {
  display: flex;
  width: 151px;
  height: 32px;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  position: relative;
  border-radius: 4px;
  border: 1px solid;
  border-color: #b2b2b2;
}

.checkout-mini .search {
  position: relative;
  flex: 1;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
  background: transparent;
  border: none;
  padding: 0;
}

.checkout-mini .search-2 {
  position: relative;
  flex: 1;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .input {
  position: relative;
  width: fit-content;
  margin-right: -3.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
  background: transparent;
  border: none;
  padding: 0;
}

.checkout-mini .search-3 {
  position: relative;
  width: fit-content;
  margin-right: -5.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .search-4 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .text-wrapper-8 {
  position: absolute;
  width: 283px;
  top: 89px;
  left: 24px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--text-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .text-wrapper-9 {
  position: absolute;
  width: 283px;
  top: 353px;
  left: 24px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--text-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .frame-15 {
  display: flex;
  flex-direction: column;
  width: 327px;
  align-items: flex-end;
  gap: 16px;
  position: absolute;
  top: 386px;
  left: 24px;
}

.checkout-mini .frame-16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.checkout-mini .payment-mob {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 187px;
}

.checkout-mini .frame-17 {
  display: flex;
  width: 325px;
  align-items: center;
  gap: 13px;
  position: absolute;
  top: 12px;
  left: 0;
}

.checkout-mini .frame-18 {
  width: 100px;
  background-color: #0c5784;
  position: relative;
  height: 32px;
  border-radius: 4px;
  overflow: hidden;
}

.checkout-mini .text-wrapper-10 {
  position: absolute;
  top: 9px;
  left: 27px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #f3f3f3;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .frame-19 {
  width: 100px;
  border: 1px solid;
  border-color: #0c5784;
  position: relative;
  height: 32px;
  border-radius: 4px;
  overflow: hidden;
}

.checkout-mini .text-wrapper-11 {
  position: absolute;
  top: 9px;
  left: 19px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--balck);
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .button {
  all: unset;
  box-sizing: border-box;
  width: 100px;
  height: 32px;
  align-items: flex-start;
  margin-right: -1.00px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  position: relative;
}

.checkout-mini .frame-20 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0c5784;
}

.checkout-mini .text-wrapper-12 {
  position: absolute;
  top: 9px;
  left: 17px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--balck);
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .frame-21 {
  display: flex;
  flex-direction: column;
  width: 326px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 60px;
  left: 0;
}

.checkout-mini .button-2 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.checkout-mini .text-wrapper-13 {
  position: absolute;
  top: 9px;
  left: 136px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .text-wrapper-14 {
  position: absolute;
  top: 9px;
  left: 126px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .frame-22 {
  display: flex;
  height: 32px;
  align-items: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.checkout-mini .button-3 {
  all: unset;
  box-sizing: border-box;
  width: 160px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  position: relative;
}

.checkout-mini .text-wrapper-15 {
  position: absolute;
  top: 9px;
  left: 50px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .button-4 {
  all: unset;
  box-sizing: border-box;
  width: 149px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  position: relative;
}

.checkout-mini .text-wrapper-16 {
  position: absolute;
  top: 9px;
  left: 67px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .frame-23 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.checkout-mini .icon-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
}

.checkout-mini .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.checkout-mini .frame-24 {
  width: 132px;
  background-color: #0c5784;
  position: relative;
  height: 32px;
  border-radius: 4px;
  overflow: hidden;
}

.checkout-mini .text-wrapper-18 {
  position: absolute;
  top: 6px;
  left: 13px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #f3f3f3;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.checkout-mini .group-2 {
  position: fixed;
  width: 16px;
  height: 38px;
  top: 146px;
  left: 351px;
}

.checkout-mini .group-3 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/me02ko6yHaBfoY/img/logos-whatsapp-icon.svg);
  background-size: 100% 100%;
}

.checkout-mini .frame-25 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 22px;
  left: 0;
}
