.empty-cart-mini,body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.empty-cart-mini {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.empty-cart-mini .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 100vw;
  height: 1000px;
  position: relative;
}

.empty-cart-mini .nav-bar-mob {
  display: flex;
  width: 375px;
  height: 46px;
  align-items: center;
  gap: 55px;
  padding: 0px 24px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff80;
}

.empty-cart-mini .frame {
  display: flex;
  width: 93px;
  align-items: center;
  gap: 16px;
  position: relative;
}

.empty-cart-mini .vector {
  position: relative;
  width: 18px;
  height: 12px;
}

.empty-cart-mini .hello-ahmed-salah {
  position: relative;
  width: 64px;
  margin-top: -1.00px;
  margin-right: -5.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.empty-cart-mini .frame-2 {
  display: flex;
  width: 32px;
  align-items: center;
  gap: 94px;
  position: relative;
}

.empty-cart-mini .logo-removebg {
  position: relative;
  width: 32px;
  height: 41px;
}

.empty-cart-mini .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -146.00px;
}

.empty-cart-mini .img {
  position: relative;
  width: 13px;
  height: 13px;
  margin-top: -0.50px;
  margin-bottom: -0.50px;
  margin-left: -0.50px;
}

.empty-cart-mini .heart {
  position: relative;
  width: 13.5px;
  height: 14px;
  margin-top: -1.50px;
  margin-bottom: -0.50px;
}

.empty-cart-mini .cart {
  position: relative;
  width: 14px;
  height: 13px;
  margin-top: -0.50px;
  margin-bottom: -0.50px;
  margin-right: -1.50px;
}

.empty-cart-mini .footer-mob {
  position: absolute;
  width: 475px;
  height: 398px;
  top: 555px;
  left: 50%;
  transform: translateX(-50%);
}

.empty-cart-mini .overlap-group {
  position: relative;
  height: 397px;
  top: 1px;
}

.empty-cart-mini .group {
  position: absolute;
  width: 475px;
  height: 362px;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    180deg,
    rgba(26, 132, 195, 1) 0%,
    rgba(12, 51, 74, 1) 100%
  );
}

.empty-cart-mini .frame-4 {
  display: flex;
  flex-direction: column;
  width: 327px;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.empty-cart-mini .frame-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(12, 87, 132, 1) 0%,
    rgba(3, 20, 30, 1) 100%
  );
}

.empty-cart-mini .text-wrapper {
  position: relative;
  width: 103px;
  height: 50px;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #f3f3f3;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.empty-cart-mini .frame-6 {
  display: flex;
  flex-direction: column;
  width: 113px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.empty-cart-mini .div-wrapper {
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.empty-cart-mini .p {
  position: relative;
  width: 81px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 4px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.empty-cart-mini .frame-7 {
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.empty-cart-mini .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 6px;
  letter-spacing: 0;
  line-height: normal;
}

.empty-cart-mini .logo {
  position: relative;
  width: 72px;
  height: 93px;
}

.empty-cart-mini .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.empty-cart-mini .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.empty-cart-mini .frame-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.empty-cart-mini .frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.empty-cart-mini .frame-11 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.empty-cart-mini .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.empty-cart-mini .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #f3f3f3;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.empty-cart-mini .frame-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.empty-cart-mini .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.empty-cart-mini .frame-13 {
  position: relative;
  flex: 0 0 auto;
}

.empty-cart-mini .home-cart {
  position: absolute;
  top: 61px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 8px;
}

.empty-cart-mini .span {
  font-weight: 500;
  color: #b2b2b2;
}

.empty-cart-mini .text-wrapper-6 {
  font-weight: 500;
  color: #000000;
  line-height: 0.1px;
}

.empty-cart-mini .text-wrapper-7 {
  font-weight: 500;
  color: #000000;
}

.empty-cart-mini .empty-state {
  display: flex;
  flex-direction: column;
  width: 214px;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 98px;
  left: 50%;
  transform: translateX(-50%);
}

.empty-cart-mini .group-2 {
  position: relative;
  width: 200px;
  height: 219.14px;
}

.empty-cart-mini .text {
  position: relative;
  width: 217px;
  height: 57px;
  margin-right: -3.50px;
}

.empty-cart-mini .text-wrapper-8 {
  position: absolute;
  height: 19px;
  top: 0;
  left: 63px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.empty-cart-mini .your-cart-is-empty {
  position: absolute;
  top: 27px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.empty-cart-mini .group-3 {
  position: fixed;
  width: 16px;
  height: 38px;
  top: 146px;
  left: 351px;
}

.empty-cart-mini .group-4 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/me02ff8neTrIeD/img/logos-whatsapp-icon.svg);
  background-size: 100% 100%;
}

.empty-cart-mini .frame-14 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 22px;
  left: 0;
}
