.cart-mini,body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.cart-mini {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.cart-mini .div {
  background-color: #ffffff;
  width: 375px;
  height: 1051px;
  position: relative;
}

.cart-mini .nav-bar-mob {
  display: flex;
  width: 375px;
  height: 46px;
  align-items: center;
  gap: 55px;
  padding: 0px 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff80;
}

.cart-mini .frame {
  display: flex;
  width: 93px;
  align-items: center;
  gap: 16px;
  position: relative;
}

.cart-mini .vector {
  position: relative;
  width: 18px;
  height: 12px;
}

.cart-mini .hello-ahmed-salah {
  position: relative;
  width: 64px;
  margin-top: -1.00px;
  margin-right: -5.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.cart-mini .frame-2 {
  display: flex;
  width: 32px;
  align-items: center;
  gap: 94px;
  position: relative;
}

.cart-mini .logo-removebg {
  position: relative;
  width: 32px;
  height: 41px;
}

.cart-mini .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -146.00px;
}

.cart-mini .img {
  position: relative;
  width: 13px;
  height: 13px;
  margin-top: -0.50px;
  margin-bottom: -0.50px;
  margin-left: -0.50px;
}

.cart-mini .heart {
  position: relative;
  width: 13.5px;
  height: 14px;
  margin-top: -1.50px;
  margin-bottom: -0.50px;
}

.cart-mini .cart {
  position: relative;
  width: 14px;
  height: 13px;
  margin-top: -0.50px;
  margin-bottom: -0.50px;
  margin-right: -1.50px;
}

.cart-mini .footer-mob {
  position: absolute;
  width: 100vw;
  height: 398px;
  top: 653px;
  left: 50%;
  transform: translateX(-50%);
}

.cart-mini .overlap-group {
  position: relative;
  height: 397px;
  top: 1px;
}

.cart-mini .group {
  position: absolute;
  width: 100vw;
  height: 362px;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    180deg,
    rgba(26, 132, 195, 1) 0%,
    rgba(12, 51, 74, 1) 100%
  );
}

.cart-mini .frame-4 {
  display: flex;
  flex-direction: column;
  width: 327px;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.cart-mini .frame-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(12, 87, 132, 1) 0%,
    rgba(3, 20, 30, 1) 100%
  );
}

.cart-mini .text-wrapper {
  position: relative;
  width: 103px;
  height: 50px;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #f3f3f3;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.cart-mini .frame-6 {
  display: flex;
  flex-direction: column;
  width: 113px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.cart-mini .div-wrapper {
  height: 16px;
  justify-content: center;
  padding: 0px 4px;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  overflow: hidden;
}

.cart-mini .p {
  position: relative;
  width: 81px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 4px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.cart-mini .frame-7 {
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.cart-mini .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 6px;
  letter-spacing: 0;
  line-height: normal;
}

.cart-mini .logo {
  position: relative;
  width: 72px;
  height: 93px;
}

.cart-mini .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.cart-mini .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.cart-mini .frame-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.cart-mini .frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.cart-mini .frame-11 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.cart-mini .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.cart-mini .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #f3f3f3;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.cart-mini .frame-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.cart-mini .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.cart-mini .frame-13 {
  position: relative;
  flex: 0 0 auto;
}

.cart-mini .home-cart {
  position: absolute;
  top: 61px;
  left: 24px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 8px;
}

.cart-mini .span {
  font-weight: 500;
  color: #b2b2b2;
}

.cart-mini .text-wrapper-6 {
  font-weight: 500;
  color: #000000;
  line-height: 0.1px;
}

.cart-mini .text-wrapper-7 {
  font-weight: 500;
  color: #000000;
}

.cart-mini .frame-14 {
  display: flex;
  flex-direction: column;
  width: 343px;
  align-items: flex-start;
  gap: 8px;
  padding: 8px;
  position: absolute;
  top: 82px;
  left: 16px;
}

.cart-mini .frame-15 {
  display: flex;
  height: 69px;
  align-items: center;
  gap: 16px;
  padding: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #b2b2b2;
}

.cart-mini .paste-image {
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cart-mini .frame-16 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -2.50px;
  margin-bottom: -2.50px;
}

.cart-mini .frame-17 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.cart-mini .frame-18 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}

.cart-mini .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.cart-mini .color-white-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.cart-mini .color-white {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 8px;
}

.cart-mini .text-wrapper-9 {
  color: #000000;
  line-height: 0.1px;
}

.cart-mini .text-wrapper-10 {
  color: #00000099;
}

.cart-mini .text-wrapper-11 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.cart-mini .frame-19 {
  display: flex;
  flex-direction: column;
  width: 64px;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
}

.cart-mini .delete {
  position: relative;
  width: 12px;
  height: 12px;
  background-image: url(https://c.animaapp.com/mdyaeo1poAu9LF/img/vector.svg);
  background-size: 100% 100%;
}

.cart-mini .frame-20 {
  display: flex;
  width: 64px;
  height: 25px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 12px 20px;
  position: relative;
  background-color: #efefef;
  border-radius: 4px;
  overflow: hidden;
}

.cart-mini .frame-21 {
  position: relative;
  width: 12px;
  height: 12px;
  margin-top: -5.50px;
  margin-bottom: -5.50px;
  margin-left: -18.00px;
}

.cart-mini .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -9.50px;
  margin-bottom: -7.50px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.cart-mini .frame-22 {
  position: relative;
  width: 12px;
  height: 12px;
  margin-top: -5.50px;
  margin-bottom: -5.50px;
  margin-right: -18.00px;
}

.cart-mini .frame-23 {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 260px;
  align-items: flex-start;
  gap: 16px;
  padding: 20px 24px;
  position: absolute;
  top: 369px;
  left: 24px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid;
  border-color: #b2b2b2;
}

.cart-mini .frame-24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.cart-mini .frame-25 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.cart-mini .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #00000099;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.cart-mini .text-wrapper-14 {
  font-size: 8px;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.cart-mini .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--secondary-1);
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.cart-mini .line {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.cart-mini .text-wrapper-16 {
  font-size: 12px;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.cart-mini .frame-26 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.cart-mini .frame-27 {
  height: 32px;
  padding: 12px 16px;
  flex: 1;
  flex-grow: 1;
  background-color: #efefef;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  overflow: hidden;
}

.cart-mini .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -3.00px;
  margin-bottom: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.cart-mini .frame-28 {
  position: relative;
  width: 85px;
  height: 32px;
  background-color: #0c5784;
  border-radius: 4px;
  overflow: hidden;
}

.cart-mini .text-wrapper-18 {
  position: absolute;
  top: 9px;
  left: 32px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #f3f3f3;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.cart-mini .frame-29 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 32px;
  background-color: #0c5784;
  border-radius: 4px;
  overflow: hidden;
}

.cart-mini .text-wrapper-19 {
  position: absolute;
  top: 9px;
  left: 99px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #f3f3f3;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.cart-mini .frame-30 {
  position: absolute;
  width: 81px;
  height: 24px;
  top: 329px;
  left: 270px;
  border: 1px solid;
  border-color: #0b5683;
  border-radius: 4px;
  overflow: hidden;
}

.cart-mini .text-wrapper-20 {
  position: absolute;
  top: 5px;
  left: 12px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.cart-mini .group-2 {
  position: fixed;
  width: 16px;
  height: 38px;
  top: 146px;
  left: 351px;
}

.cart-mini .group-3 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/mdyaeo1poAu9LF/img/logos-whatsapp-icon.svg);
  background-size: 100% 100%;
}

.cart-mini .frame-31 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 22px;
  left: 0;
}
