.product-details-mini {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.product-details-mini .div {
  background-color: #ffffff;
  width: 375px;
  height: 2464px;
  position: relative;
}

.product-details-mini .nav-bar-mob {
  display: flex;
  width: 375px;
  height: 46px;
  align-items: center;
  gap: 55px;
  padding: 0px 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff80;
}

.product-details-mini .frame {
  display: flex;
  width: 93px;
  align-items: center;
  gap: 16px;
  position: relative;
}

.product-details-mini .vector {
  position: relative;
  width: 18px;
  height: 12px;
}

.product-details-mini .hello-ahmed-salah {
  position: relative;
  width: 64px;
  margin-top: -1.00px;
  margin-right: -5.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.product-details-mini .frame-2 {
  display: flex;
  width: 32px;
  align-items: center;
  gap: 94px;
  position: relative;
}

.product-details-mini .logo-removebg {
  position: relative;
  width: 32px;
  height: 41px;
}

.product-details-mini .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -146.00px;
}

.product-details-mini .img {
  position: relative;
  width: 13px;
  height: 13px;
  margin-top: -0.50px;
  margin-bottom: -0.50px;
  margin-left: -0.50px;
}

.product-details-mini .heart {
  position: relative;
  width: 13.5px;
  height: 14px;
  margin-top: -1.50px;
  margin-bottom: -0.50px;
}

.product-details-mini .cart {
  position: relative;
  width: 14px;
  height: 13px;
  margin-top: -0.50px;
  margin-bottom: -0.50px;
  margin-right: -1.50px;
}

.product-details-mini .brands-logos {
  display: flex;
  width: 375px;
  align-items: center;
  gap: 32px;
  padding: 16px 24px;
  position: absolute;
  top: 1970px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
}

.product-details-mini .brands-logos::-webkit-scrollbar {
  width: 0;
  display: none;
}

.product-details-mini .team-logo-logo {
  position: relative;
  width: 104.38px;
  height: 40px;
  background: url(https://c.animaapp.com/me0cwzwxUDnVpK/img/team-logo-logo-03.png)
    50% 50% / cover;
  opacity: 0.4;
}

.product-details-mini .team-logo-logo-2 {
  background: url(https://c.animaapp.com/me0cwzwxUDnVpK/img/team-logo-logo-01.png)
    50% 50% / cover;
  position: relative;
  width: 104.38px;
  height: 40px;
  opacity: 0.4;
}

.product-details-mini .team-logo-logo-3 {
  background: url(https://c.animaapp.com/me0cwzwxUDnVpK/img/team-logo-logo-04.png)
    50% 50% / cover;
  position: relative;
  width: 104.38px;
  height: 40px;
  opacity: 0.4;
}

.product-details-mini .team-logo-logo-4 {
  background: url(https://c.animaapp.com/me0cwzwxUDnVpK/img/team-logo-logo-02.png)
    50% 50% / cover;
  position: relative;
  width: 104.38px;
  height: 40px;
  opacity: 0.4;
}

.product-details-mini .team-logo-logo-5 {
  background: url(https://c.animaapp.com/me0cwzwxUDnVpK/img/team-logo-logo-05.png)
    50% 50% / cover;
  position: relative;
  width: 104.38px;
  height: 40px;
  opacity: 0.4;
}

.product-details-mini .footer-mob {
  position: absolute;
  width: 100vw;
  height: 398px;
  top: 2066px;
  left: 50%;
  transform: translateX(-50%);
}

.product-details-mini .overlap-group {
  position: relative;
  height: 397px;
  top: 1px;
}

.product-details-mini .group {
  position: absolute;
  width: 100vw;
  height: 362px;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    180deg,
    rgba(26, 132, 195, 1) 0%,
    rgba(12, 51, 74, 1) 100%
  );
}

.product-details-mini .frame-4 {
  display: flex;
  flex-direction: column;
  width: 327px;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.product-details-mini .frame-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(12, 87, 132, 1) 0%,
    rgba(3, 20, 30, 1) 100%
  );
}

.product-details-mini .text-wrapper {
  position: relative;
  width: 103px;
  height: 50px;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #f3f3f3;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.product-details-mini .frame-6 {
  display: flex;
  flex-direction: column;
  width: 113px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.product-details-mini .div-wrapper {
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.product-details-mini .p {
  position: relative;
  width: 81px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 4px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.product-details-mini .frame-7 {
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.product-details-mini .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 6px;
  letter-spacing: 0;
  line-height: normal;
}

.product-details-mini .logo {
  position: relative;
  width: 72px;
  height: 93px;
}

.product-details-mini .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.product-details-mini .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.product-details-mini .frame-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.product-details-mini .frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.product-details-mini .frame-11 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.product-details-mini .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.product-details-mini .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #f3f3f3;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.product-details-mini .frame-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.product-details-mini .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.product-details-mini .img-2 {
  position: relative;
  flex: 0 0 auto;
}

.product-details-mini .category-accessories {
  position: absolute;
  top: 61px;
  left: 24px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 8px;
}

.product-details-mini .span {
  font-weight: 500;
  color: #b2b2b2;
}

.product-details-mini .text-wrapper-6 {
  font-weight: 500;
  color: #000000;
  line-height: 0.1px;
}

.product-details-mini .frame-13 {
  display: flex;
  flex-direction: column;
  width: 327px;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 90px;
  left: 24px;
}

.product-details-mini .frame-14 {
  display: flex;
  flex-direction: column;
  width: 205px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.product-details-mini .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--text-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.product-details-mini .frame-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.product-details-mini .frame-16 {
  position: relative;
  flex: 0 0 auto;
  height: 16px;
}

.product-details-mini .div-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.product-details-mini .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  opacity: 0.5;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--text-2);
  font-size: 8px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.product-details-mini .line {
  position: relative;
  width: 1px;
  height: 16px;
  object-fit: cover;
}

.product-details-mini .text-wrapper-9 {
  position: relative;
  width: fit-content;
  opacity: 0.6;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #00ff66;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.product-details-mini .text-wrapper-10 {
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--text-2);
  font-size: 16px;
  letter-spacing: 0.48px;
  position: relative;
  line-height: 24px;
}

.product-details-mini .group-2 {
  position: relative;
  width: 326px;
  height: 241px;
}

.product-details-mini .group-3 {
  position: relative;
  width: 326px;
  height: 180px;
  margin-bottom: -48.00px;
  margin-left: -00.00px;
  margin-right: -24.00px;
  border-radius: 8px;
  overflow: hidden;
}

.product-details-mini .frame-17 {
  display: flex;
  flex-direction: column;
  width: 327px;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  top: 625px;
  left: 24px;
}

.product-details-mini .lorem-ipsum-dolor {
  position: relative;
  align-self: stretch;
  height: 396px;
  margin-top: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.product-details-mini .group-4 {
  position: relative;
  width: 327px;
  height: 77.64px;
}

.product-details-mini .frame-18 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: absolute;
  top: 16px;
  left: 0;
}

.product-details-mini .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 20px;
  white-space: nowrap;
}

.product-details-mini .overlap-group-wrapper {
  position: relative;
  width: 16px;
  height: 16px;
}

.product-details-mini .overlap-group-2 {
  position: relative;
  height: 16px;
  border-radius: 8px;
}

.product-details-mini .ellipse {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 2px;
  left: 2px;
  background-color: #a0bce0;
  border-radius: 6px;
}

.product-details-mini .ellipse-2 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border-radius: 8px;
  border: 1px solid;
  border-color: #000000;
}

.product-details-mini .ellipse-3 {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: var(--hover-button);
  border-radius: 8px;
}

.product-details-mini .frame-19 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 54px;
  left: 48px;
}

.product-details-mini .group-5 {
  position: relative;
  width: 85.1px;
  height: 24px;
}

.product-details-mini .overlap-group-3 {
  position: relative;
  width: 85px;
  height: 24px;
}

.product-details-mini .icon-minus-wrapper {
  position: absolute;
  width: 21px;
  height: 24px;
  top: 0;
  left: 0;
  border-radius: 4px 0px 0px 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: #00000080;
}

.product-details-mini .img-3 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 3px;
}

.product-details-mini .frame-20 {
  position: absolute;
  width: 45px;
  height: 24px;
  top: 0;
  left: 20px;
  overflow: hidden;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #00000080;
}

.product-details-mini .text-wrapper-12 {
  position: absolute;
  top: -3px;
  left: 17px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--text-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.product-details-mini .icon-plus-wrapper {
  position: absolute;
  width: 21px;
  height: 24px;
  top: 0;
  left: 64px;
  background-color: #ef9223;
  border-radius: 0px 4px 4px 0px;
  overflow: hidden;
}

.product-details-mini .frame-21 {
  position: relative;
  width: 108px;
  height: 24px;
  background-color: #0c5784;
  border-radius: 4px;
  overflow: hidden;
}

.product-details-mini .text-wrapper-13 {
  position: absolute;
  top: 5px;
  left: 30px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #f3f3f3;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.product-details-mini .heart-outline-wrapper {
  position: relative;
  width: 23px;
  height: 26px;
  margin-top: -1.00px;
  margin-bottom: -1.00px;
  margin-right: -1.00px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: #00000080;
}

.product-details-mini .heart-outline {
  position: relative;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 3px;
}

.product-details-mini .heart-2 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: -1px;
  left: -1px;
}

.product-details-mini .under-line {
  position: absolute;
  width: 327px;
  height: 1px;
  top: -1px;
  left: 0;
  opacity: 0.5;
  background-image: url(https://c.animaapp.com/me0cwzwxUDnVpK/img/line-1.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.product-details-mini .frame-22 {
  display: flex;
  flex-wrap: wrap;
  width: 327px;
  align-items: center;
  justify-content: center;
  gap: 16px 16px;
  padding: 8px;
  position: absolute;
  top: 1163px;
  left: 24px;
}

.product-details-mini .frame-23 {
  display: flex;
  flex-direction: column;
  width: 142px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.product-details-mini .frame-24 {
  display: flex;
  flex-direction: column;
  width: 132px;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.product-details-mini .frame-25 {
  display: flex;
  flex-direction: column;
  width: 110px;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.product-details-mini .ellipse-4 {
  position: relative;
  width: 72px;
  height: 72px;
  background-color: #d9d9d9;
  border-radius: 36px;
}

.product-details-mini .text-wrapper-14 {
  position: relative;
  align-self: stretch;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.product-details-mini .frame-26 {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.product-details-mini .text-wrapper-15 {
  position: relative;
  align-self: stretch;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.product-details-mini .frame-27 {
  display: inline-flex;
  flex-direction: column;
  height: 387px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 1559px;
  left: 24px;
}

.product-details-mini .frame-28 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.product-details-mini .frame-29 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.product-details-mini .rectangle {
  position: relative;
  width: 10px;
  height: 20px;
  background-color: var(--primary);
  border-radius: 2px;
}

.product-details-mini .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--primary);
  font-size: 8px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.product-details-mini .frame-30 {
  display: flex;
  width: 326px;
  height: 52px;
  align-items: center;
  gap: 12px;
  position: relative;
}

.product-details-mini .text-wrapper-17 {
  position: relative;
  flex: 1;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--black);
  font-size: 16px;
  letter-spacing: 0.64px;
  line-height: normal;
}

.product-details-mini .frame-31 {
  display: inline-flex;
  align-items: center;
  gap: 22px;
  position: relative;
  flex: 0 0 auto;
}

.product-details-mini .group-6 {
  position: relative;
  width: 152px;
  height: 293px;
}

.product-details-mini .elements-card {
  position: absolute;
  width: 152px;
  height: 203px;
  top: 0;
  left: 0;
}

.product-details-mini .overlap-group-4 {
  position: relative;
  height: 202px;
  background-image: url(https://c.animaapp.com/me0cwzwxUDnVpK/img/paste-image.svg);
  background-size: 100% 100%;
}

.product-details-mini .button-hover {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 133px;
  height: 24px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px 24px;
  position: absolute;
  top: 168px;
  left: 9px;
  border-radius: 4px;
  border: 1px solid;
  border-color: #0b5683;
  box-shadow: var(--shadow-01);
}

.product-details-mini .get-started {
  position: relative;
  width: fit-content;
  margin-top: -11.00px;
  margin-bottom: -9.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 8px;
  text-align: center;
  letter-spacing: -0.40px;
  line-height: 28px;
  white-space: nowrap;
}

.product-details-mini .add-to-wishlist {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 127px;
}

.product-details-mini .badge-medium {
  display: flex;
  width: 45px;
  height: 20px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px 14px;
  position: absolute;
  top: 10px;
  left: 18px;
  background-color: var(--secondary-1);
  border-radius: 4px;
}

.product-details-mini .new {
  position: relative;
  width: fit-content;
  margin-top: -3.00px;
  margin-bottom: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--balck);
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.product-details-mini .content {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 78px;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  top: 215px;
  left: 0;
}

.product-details-mini .div-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.product-details-mini .text-wrapper-18 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--neutral-07100);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.product-details-mini .discount {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.product-details-mini .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.product-details-mini .text-wrapper-20 {
  width: fit-content;
  margin-top: -1.00px;
  opacity: 0.5;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--grey);
  font-size: 12px;
  letter-spacing: 0;
  text-decoration: line-through;
  white-space: nowrap;
  position: relative;
  line-height: 24px;
}

.product-details-mini .group-7 {
  position: fixed;
  width: 16px;
  height: 38px;
  top: 146px;
  left: 351px;
}

.product-details-mini .group-8 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/me0cwzwxUDnVpK/img/logos-whatsapp-icon.svg);
  background-size: 100% 100%;
}

.product-details-mini .frame-32 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 22px;
  left: 0;
}
