:root {
  --black: rgba(20, 23, 24, 1);
  --secondary: rgba(239, 147, 35, 1);
  --primary: rgba(12, 87, 132, 1);
  --white: rgba(255, 255, 255, 1);
  --balck: rgba(20, 23, 24, 1);
  --grey: rgba(178, 178, 178, 1);
  --gray-500: rgba(85, 105, 135, 1);
  --headings-3-font-family: "Poppins", Helvetica;
  --headings-3-font-weight: 500;
  --headings-3-font-size: 16px;
  --headings-3-letter-spacing: 0px;
  --headings-3-line-height: normal;
  --headings-3-font-style: normal;
  --text-sm-regular-font-family: "Poppins", Helvetica;
  --text-sm-regular-font-weight: 400;
  --text-sm-regular-font-size: 14px;
  --text-sm-regular-letter-spacing: 0px;
  --text-sm-regular-line-height: 20px;
  --text-sm-regular-font-style: normal;
  --tailwind-drop-shadow-sm: 0px 1px 2px 0px rgba(85, 105, 135, 0.1);
}
